.slick-active{
    /* background-color: orange; */
}


.header1{
    /* border: 1px solid red; */
    width: 100%;
}

.react-toggle--checked .react-toggle-track {
    /* background-color:red; */
  }
  .react-toggle--checked .react-toggle-track{
    background-color:#50c4a1 !important;
    opacity: 0.4;
    width: 40px !important;
    height: 20px !important
  }


  .react-toggle--checked .react-toggle-thumb{
    /* background-color:red; */
    border: orange !important;
    background-color: rgb(12, 95, 56);

  }

  .react-toggle-track{
      background-color: grey !important;
      width: 40px !important;
    height: 20px !important
  }

  .react-toggle-thumb{
top: -1px !important;
width: 22px !important;
    height: 22px !important

  }

  .MuiIconButton-colorSecondary {
  color: orange !important;

}

/* Slider  */

/* .MuiSlider-colorPrimary{
  color: red !important;
}

.MuiSlider-rail{

  padding: 10px 15px !important;
  top: 10px !important;
  left: 5px !important;
  border-radius: 10px !important;
 
} */

.MuiAutocomplete-listbox{
  /* background-color: rgb(255, 228, 177); */
  /* box-shadow: 0px 0px 20px 0px black; */
  /* background-image: url('../../#NewLogos/Home/Group\ 1324.png');
  background-image: url('../../#NewLogos/Home/Group\ 1324.png');
  background-image: url('../../#NewLogos/Home/Group\ 1324.png');
  background-image: url('../../#NewLogos/Home/Group\ 1324.png');

  background-repeat: no-repeat;
  background-size: 50px;
  padding-top: 50px !important; */
  background-color: rgb(255, 249, 250);
  border: 1px solid pink;
}