.inputStyle{
    /* border: 1px solid red; */
    width: 100%;
    margin: 12px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}


.errorStyle{
    color: red;
    font-size: 13px;
}

.errorradioBtn{
    /* border-bottom: 1px solid red; */
    display: flex;
    flex-direction: row !important;
    width: 100%;

}
.inputRadioStyle{
    /* border: 1px solid red; */
    /* margin-top: 14px; */
    min-height: 80px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.labeTitle{
    margin-left: 14px;
}
.radioBtn{
    /* border: 1px solid green; */
    display: flex;
    /* flex-direction: row !important;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 35px;

}
.innerradioBtn {
    /* border: 1px solid firebrick; */
    width: 100%;
    display: flex ;
    flex-direction: row !important;
    height: 100%;
    padding-top: 8px;
    box-sizing: border-box;

}


.innerradioBtn span{
    font-size: 15px !important;
    /* border: 1px solid red; */
}


.salaryradioBtn{
    /* border: 1px solid green; */
    display: flex;
    width: 100%;
    height: 140px;
    margin-bottom: 10px;

}
.salaryinnerradioBtn{
    width: 100%;
    display: flex ;
    flex-direction: column !important;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    /* padding-top: 8px; */
    box-sizing: border-box;
}

.privacyagreeRadioElement{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 1px solid red; */
    margin: 25px 0px;

}

.privacyagreeRadioElement .agreeText{
    /* border: 1px solid red; */
    width: 85%;
    /* text-align: start; */
    margin-top: 15px;
    box-sizing: border-box;
    /* text-indent: 100%; */
    
}


input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -4px;
    
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #ffa500;
}

input{
font-weight: bold;
cursor: pointer;
}

.inputStyle{
    /* border: 1px solid yellow !important; */
}

.errorText{
    color: red;
    margin-left: 5px;
    font-size: 14px;
    height: 20px;
}

/* .myStyle{
    border: 1px solid pink !important;
} */

.inputTextareaStyle{
    /* border: 1px solid red; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 160px;
}

.inputTextareaStyle textarea{
    width: 100%;
    border: 1px solid grey;
     border-radius:5px ;
     height: 80%;
}

.inputTextareaStyle .textareaLabel{
    position: absolute;
    top: 1px;
    left: 30px;
    background-color: white;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    font-size: 14px;
    color: grey;
}

.inputTextareaStyle .errorTextarea{
    /* border: 1px solid red; */
    /* outline-color: #ffa500; */
    outline-color: red;

}

.inputTextareaStyle .successTextarea{
    /* border: 1px solid green; */
    outline-color: #ffa500;

}


.defaultinputRadioStyle{
    box-sizing: border-box;
    width: 100%;
    
}

.defaultinputRadioStyle .defaultRadioBtn{
    /* border: 1px solid red; */
    /* height: 0px; */
    /* display: flex;
    flex-direction: column !important; */
}