.ProductContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    font-family:Gilroy-SemiBold;
    min-height: 350px;

}
.main{
    box-sizing: border-box;
}
.BodyContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    min-height: 350px;
    width: 100%;
    overflow: hidden;
}


.ProductContainer .title{

   
    height: 46px;

    font-size: 20px;
    font-weight: 600;
    
    line-height: 1.5;
    text-align: center;
    color: #4eb748;
}

.ProductContainer .logo img{
    width: 150px;
    height: 150px;
}

.ProductContainer .description{
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    text-align: center;

}

.ProductContainer .Button{
    /* border: 1px solid red; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProductContainer .Button button{
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #2f73da;
  width: 100px;
  height: 40px;
  color: white;
  letter-spacing: 1px;
}


.pdfmain{
    /* border: 1px solid red !important; */
    /* width: 100%  !important; */
    /* height: 500px; */
}

.closeBtn{
    position: fixed;
    top: 30px;
    right: 10px;
}
.closeBtn button{
    background-color: transparent;
    outline: none;
    border: none;
}

.next_prev_btn button{
    border: none;
    outline: none;
    background-color: transparent;
    width: 50px;
    height: 40px;
    /* color: white; */
    letter-spacing: 1px;
    /* border: 1px solid red; */
  

}

.next_prev_btn{
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}