.main{
    min-height: 100vh;
    position: relative;
    margin:80px 0px 100px 0px;
}


.main .bar{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5
}





.main .footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 5

}


.main .container{
    min-height: 400px;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.main .title{
    width: 100%;
    height: 32px;
    font-size: 20px;
    font-weight: 600;
    color: #4d4d4d;
    /* border: 1px solid green; */
}

.main .logo, .loanAmount ,.slider,.EMI_Details,.purpose,.EMI_Description{
    /* border: 1px solid blue; */
    /* overflow: hidden; */
    width: 100%;
    height: 100px;
    margin:5px 0px 10px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main .logo img{
    width: 120px;
    height: 120px;
    border-radius: 4px;
    box-shadow: 0 1px 8px 0 rgba(87, 102, 117, 0.1);
    background-color: #eaf1fb;

}

.main .loanAmount .loanAmountInput{
    width: 200px ;
    outline: none !important;
    border: none !important;
    height: 40px;
    padding: 8px 31px;
    border-radius: 33px;
    background-color: #2f73da;
    color: white;

    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
}



.main .slider{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}




.main .slider .slider_ele{
    /* border: 1px solid red; */
    width: 100%;
    box-sizing: border-box;
    height: 100px;

text-align: center;
    /* color: rgb(255, 220, 154); */
}

.main .EMI_Details{
    justify-content: space-evenly !important;
}

.main .EMI_Details .dash{
    border-bottom: 1px solid #999999;
    width: 100%;
}
.main .EMI_Details .EMI_Details_textTitle{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}


.main .EMI_Details .EMI_Details_textAmount{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    color: #2f73da;
}
.main .EMI_Description p{
    font-size: 14px;
    line-height: 30px;

}
/* .................................... */