.main{
    /* border: 2px solid red; */
}

.ProductContainer{
    /* border: 1px solid black; */

    height: 160px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.headerTitle{
    /* border: 1px solid red; */
    width: 100%;
    text-align: center !important;
}

.ProductContainer .title{
  font-size: 16px;
  font-weight: 600;
  /* border: 1px solid red; */
  color: #e5791e;
  height: 15%;
  

}
.ProductContainer .content{
/* border: 1px solid red; */
width: 100%;
height: 65%;
display: flex;
justify-content: space-between;
align-items: center;



}

.ProductContainer button{
    border: none;
    outline: none;
    width: 140px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    border-radius: 12px;
    background-color: #eaf1fb;
    color: #2f73da  ;
}

.ProductContainer .content .logo img{
    width: 80px;
    height: 80px;
}

.ProductContainer .content .LoanDescription{
    /* border: 1px solid black; */
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}
.ProductContainer .content .LoanDescription .Loan_box1,.ProductContainer .content .LoanDescription .Loan_box2{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Loan_box2{
    font-size: 16px;
    font-weight: 600
}

