.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: white;
    color: #3c61a7;
    font-size: 16px;
    font-family:Gilroy-SemiBold;
    box-shadow: 0px 2px 8px 0px rgba(87, 102, 117, 0.1);

}
/* 
@font-face{
    font-family:Gilroy-SemiBold;
    src:url(../../../UI_Element2/fonts/Gilroy-SemiBold.ttf);
} */

.main .Imglogo{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.main  button{
    /* border: 1px solid red; */
    outline: none;
    border: none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    /* color: #3c61a7; */
    
}
.main  button:enabled{
    color: #3c61a7;

}