.loading{
    
  
    /* height: 100vh; */
    /* height: 100vh; */
    /* border: 1px solid red; */
    position: relative;
    height: 100vh;
    width: 100%;

  
   
}
.Loader{
    /* border: 1px solid green; */
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    z-index: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.Backdrop{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 20;
}