

.camHead{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 400px;

}


.caminnerHead{
    /* border: 1px solid red; */
    /* border-radius: 50%; */
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 300px; */
    overflow: hidden;
}



.cam{
    /* border: 1px solid green; */
     height: 75%;
     width: 100%;
    border-radius: 10%;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.buttonCapture{
    outline: none;
    border: none;
    color: white;

    background-color: #3c61a7;
    padding: 5px 20px;
    border-radius: 20px;

}

.avatar{
    border-radius: 10px;
    width: 50px;
}

.editicon{
    /* background-color: #e9e9e9; */
    filter: sepia(50%) grayscale(100%) invert(80%)
}