.navbarHead{
    /* border: 1px solid green; */
    width: 100%;
    position: fixed;
    z-index: 40;
    left: 0;
    top: 0;
    /* background: ; */
}
.navbarHead .navbarinnerleft{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 70%;
}


.addressFrom{
    margin-top: 70px;
}
.inputelement{
    border:transparent;    

}
.elementContainer{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 60px;
    align-items: center;
    padding: 20px 5px;
}

.navbarHead span{
    /* border: 1px solid green; */
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbarHead span button{
    border:  none;
    outline: none !important;
    background: transparent;
    color: white;

}

.backdrop{
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
}


.spinner{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 50;

}

.DefaultModelStyle{
    position: fixed; 
    left: 0;
    top: 0;
    z-index: 50;
    /* width: 100%; */
 }
 
 .DefaultModelStyle .bottmBtn{
     /* width: 100%; */
     background-color: rgb(253, 87, 10);
     padding: 10px;
     border-radius: 0px 0px 10px 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     box-sizing: border-box;
 }
 .DefaultModelStyle .bottmBtn button{
     border: 1px solid white;
     outline: none;
     width: 100px;
     border-radius: 20px;
     color: white;
     background-color: transparent;
     cursor: pointer;
 }


 