.main{
    /* border: 1px solid red; */
    /* min-height: 100vh; */
    position: relative;
    font-family: Gilroy-SemiBold;
}
.main .bar{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 5;
    top: 0%;
}

.main .formContainer{
    /* border: 1px solid red; */
    margin: 75px 0px 0px 0px;
    min-height: 450px;
    background-color: white;
}


.Footer{

  
    width: 100%;
    z-index: 5;
    position: fixed;
    bottom: 0;


}

.title {
 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-top: 100px; */
    /* border:1px solid red; */
    height: 150px;

}

.title h1{
    border-bottom: 2px solid grey;
    padding: 0px 10px 5px 10px;
    box-sizing: border-box;
    font-size: 32px;
    color: #4d4d4d;
}


.inputHead{
    /* border: 1px solid red; */
    height: 95px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputHead .defaultInput{
    border: 2px solid grey;
    width: 100%;
    border-radius: 5px;
    height: 75%;
    padding: 16px 20px 12px 12px;
    box-sizing: border-box;
}
.inputHead .defaultInput:focus{
    border: 2px solid red;
}

.inputHead .successInput{
    border: 2px solid #f48120;
    width: 100%;
    border-radius: 5px;
    height: 75%;
    padding: 16px 20px 12px 12px;
    box-sizing: border-box;

}

.label{
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    background-color: white;
    z-index: 5;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
