.main{
    width: 100%;
    min-height: 220px;
        /* border: 1px solid green; */
}

.main .title{
    /* border: 1px solid red; */
    height: 60px;
    text-align: center; 
    display: flex;
    justify-content:center;
    align-items: center;  
    font-size: 18px;
  font-weight: 600; 
  color: #e07c02;
  letter-spacing: 1px;

}
.main .list .details{
    border-bottom: 1px solid rgb(197, 197, 197);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
}

