
.mainSlider{
    /* border: 1px solid green;     */
     width: 100%;
     /* height: 130px; */
     text-align: center;
     display: flex !important;
     flex-direction: row !important;
     justify-content: space-between !important;
     align-items: center !important;
     box-sizing: border-box;
}

.swiper{
    /* border: 1px solid red; */
    /* z-index: 1; */
    width: 100%;
    height: 160px;
    /* padding: 5px !important; */
    box-sizing: border-box;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.innerele{
    /* border: 1px solid yellow; */
    width: 90% !important;
    margin: 0px 10px 0px 10px;
    height: 90px;
    border-radius: 4px;
    box-shadow: 1px 0 8px 0 rgba(87, 102, 117, 0.2);
    background-color: #ffffff;
    margin-top: 2px !important;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.innerele img{
    width: 95%
}

.innerele .name{
    width: 75px;
    height: 34px;
    box-sizing: border-box;
    padding: 2px;
    margin: 17.8px 0 0;
    font-family: PoiretOne;
    font-size: 42px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.79;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.outerele{
    /* border: 1px solid blue; */
    /* width: 30% !important;
    height: 130px; */
    /* width: 110px !important; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 130px !important; */
    /* justify-content: space-between; */
}
.outerele .title{
    /* border: 1px solid red; */
    height: 35px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}
@media(max-width:320px){
    .innerele{
        /* border: 1px solid red; */
        /* width: 90% !important; */
        margin: 0px 10px 0px 10px;
        height: 90px;
    
        border-radius: 4px;
        box-shadow: 1px 0 8px 0 rgba(87, 102, 117, 0.2);
        background-color: #ffffff;
    }
}


.swiper-button-prev{
    background-color: red;
}