
.bg-progressBar{
    background-color: #f48120 !important;

}
.progress{
    /* border: 1px solid yellow; */
    height: 8px;
    border-radius: 50px;
    overflow: hidden;


}

.progress-bar{
    /* border: 1px solid green; */
}

/* 

 .bg-customcolor{
    background-color: #50D2C2 !important;
}

.bg-greycolor{
    background-color:#50D2C244 !important ;
}


.bg-progressEmployment{
    background-color: #FCAB53 !important;

}


.bg-progressEmploymentdisable{
    background-color: #EE8F6E44 !important;

}

.bg-progressBank{
    background-color: #8C88FF !important;

}


.bg-progressBankdisable{
    background-color: #ADAAFFAA !important;

}


.bg-progressPhoto{
    background-color: #EC6D6D !important;

}


.bg-progressPhotodisable{
    background-color: #EE6E6E44 !important;

} */