.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

 .p1,.p2,.p3,.p4{
    width: 40px;
    height: 40px;
}
.main input{
    border: 1px solid grey;
    width: 100%;
    height: 100%;
    text-align: center;
}

.success{
    /* background-color: red; */
/* text-align: center; */
border: 2px solid #f48120 !important;
border-radius: 5px;
}
.main input:focus{
    /* background-color: yellow; */
    border-radius: 5px;
    animation-name: a1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes a1{
    from {border: 1px solid black;border-radius: 5px 5px 5px 5px;}
    to {border: 3px solid black;border-radius: 5px 5px 5px 5px;}
  
}