.swiper-button-prev{

    color: #f48120  !important;
    position: absolute;
    left: 0  !important;
    top: 50px  !important;
    /* width: 10px; */
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.swiper-button-prev:after{
font-size: 20px !important;
}

.swiper-button-next:after{
    font-size: 20px !important;
}
.swiper-button-next{

    color: #f48120 !important;
    position: absolute;
    right: 0  !important;
    font-size: 20px !important;

    top: 50px  !important;
    /* width: 10px; */
    box-sizing: border-box;
    /* border: 1px solid red; */
}