.main{
    min-height: 100vh;
    /* border: 1px solid; */
    position: relative;
    margin: 80px 0px 100px 0px;
    font-family:Gilroy-SemiBold;
}


.main .bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.main .footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;

}



.main .container{
    min-height: 500px;
    /* border: 1px solid green; */
}
.container .progress{
    /* border: 1px solid red; */
    min-height: 30px;
}

.container .title{
    width: 100%;
    height: 32px;
    margin-top: 17px ;
    font-size: 22px;
    font-weight: 600;
    color: #4d4d4d;
    /* border: 1px solid green; */
}

.container .formContainer{
    box-sizing: border-box;
    /* border: 1px solid green; */
    min-height: 500px;
    /* position: relative; */
}