.containerHeadStyle{
    /* border: 1px solid red; */
    height: 100vh;
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.containerStyle{
    /* border: 1px solid red; */
    background-color: white;
    height: 300px;
    width: 300px;
    z-index: 15;
    position: relative;
    border-radius: 10px;

}

.BackdropManupulateStyle{
    /* border: 1px solid green; */
    width: 100%;
    z-index: 5;
    position: fixed;
    top: 0;
    
}

.closeModelstyle{
        position: absolute;
        z-index: 5;
        top:10px;
        left: 85%;
outline: none;
        width: 30px;
        /* border: 1px solid red; */
        border: none;
        border-radius: 50%;
        height: 30px;
        background-color: white;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(208, 204, 204);
        
}