.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;

    /* border: 1px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;

    
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(226, 226, 226);
    transition: .4s;
    transition: .4s;
    height: 16px;
    width: 45px;

    /* border: 1px solid red; */
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 0px;
    top: -3px;
    bottom: 0px;
    background-color: #ff953f;;
    -webkit-transition: .4s;
    transition: .4s;

    /* border: 1px solid white; */
  }
  
  input:checked + .slider {
    background-color: #fabb47;
  }
  
  input:focus + .slider {
    /* box-shadow: 0 0 1px black; */
  }
  
  input:checked + .slider:before {
    /* transform: translateX(20px); */
    transform: translateX(22px);
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    width: 45px !important;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }