.main{
    /* border: 1px solid yellow; */
    min-height: 100vh;
    width: 100%;

    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    /* align-items: center; */
    box-sizing: border-box;
    position: relative;
}

.main .bar{
    /* border: 1px solid black; */
    /* height: 12%; */
    box-shadow: 0px 2px 8px 0px rgba(87, 102, 117, 0.1);
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 5
    /* height: 20%; */
}
.main .bar button{
    /* border: 1px solid red; */
    outline: none;
    border: none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    /* color: #3c61a7; */
    
}
.main .bar button:enabled{
    color: #3c61a7;

}
.main .maincontainer{
    min-height: 550px;
    /* border: 1px solid green; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 70px;
    margin-bottom: 70px;
}

.main .Imglogo{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}


.confirmButton{
    /* margin-bottom: 10px; */
    /* border: 1px solid red; */
    box-shadow: 0px -2px 10px 0px rgba(87, 102, 117, 0.1);
    width: 100%;
    z-index: 5;
    position: fixed;
    bottom: 0;


    display: flex;
    justify-content:center;
    align-items: center;
    height: 88px;
    box-sizing: border-box;
    background-color: white;

}
.confirmButton button{
    width: 80%;
    /* width: 164px; */
    height: 46px;
    outline: none;
    border:none;
    box-sizing: border-box;
    background-color: #f48120;
    color: white;
    border-radius: 5px;
    font-size: 16px;
       /* font-family:Gilroy-SemiBold; */
       letter-spacing: 1px;
    
}
.nextButton{
    box-shadow: 0px -2px 10px 0px rgba(87, 102, 117, 0.1);

    display: flex;
    justify-content:center;
    width: 100%;
    z-index: 5;
    bottom: 0;

    position: fixed;
    align-items: center;
    height: 88px;
    box-sizing: border-box;
   
    background-color: white;
}

.nextButton button{
    width: 164px;
    background-color: #3c61a7;
    height: 46px;

    outline: none;
    border:none;
    box-sizing: border-box;

    color: white;
    border-radius: 5px;

    font-size: 16px;
    /* font-family:Gilroy-SemiBold; */
    letter-spacing: 1px;

}

.main .BasicInfo{
    /* border: 1px solid red; */
}

.main .BasicInfo span{
    width: 152px;
    
    height: 32px;
    margin: 32px 2px 6px 18px;
    font-family:Gilroy-SemiBold;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4d4d4d;
    /* border-bottom: 2px solid #cccccc; */
}

.main .BasicInfo .line_36{
    margin: 0;
    padding: 0;
    height: 2px;
    background-color: #cccccc;
    margin: 6px 0 16px 16px;
    width: 152px;

}


.main .eclipseHead{
/* border: 1px solid red; */
height: 10px;
display: flex;
justify-content: center;
align-items: center;
}

.main .eclipseHead .enableEclipse{

    width: 50px;
  height: 5px;
  flex-grow: 0;
  border-radius: 50px;
  margin: 0 9px 0 0;
  background-color: #3c61a7
}


.main .eclipseHead .disableEclipse{
    width: 50px;
    height: 5px;
    flex-grow: 0;
    border-radius: 50px;
    margin: 0 9px 0 0;
    background-color: #999999
}
/* @font-face{
    font-family:Gilroy-SemiBold;
    src:url(../../../UI_Element2/fonts/Gilroy-SemiBold.ttf);
} */

.formContent{
    /* border: 1px solid yellow; */
    min-height: 450px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;



}