.main{
    min-height: 100vh;
    position: relative;
    margin:80px 0px 100px 0px;
    /* border: 1px solid red; */
    font-family:Gilroy-SemiBold;

}


.main .bar{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5
}





.main .footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 5

}

.main .title{
    width: 100%;
    font-size: 20px;
  font-weight: 600;
  height: 32px;
}
.main .container{
    min-height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main .logo{
    /* border: 1px solid red; */
    width: 100%;
    height: 150px;


        display: flex;
    justify-content: center;
    align-items: center;
    


}

.main .logo img{
    /* border: 1px solid green; */
    height: 100%;
}


.main .Declaration{
    min-height: 357px;
    width: 100%;
}

.main .Declaration p{
    width: 100%;
    height: 100%;

    font-size: 16px;
  line-height: 1.88;
  text-align: start;
  /* letter-spacing: 1px; */
}
.main .Declaration p span{
    border-bottom: 1px solid black;
    width: 100px !important;
    padding: 0px 10px 0px 10px;
    color: #f48120;
    font-weight: 600;

    /* text-decoration: underline black; */
    
}