
.PersonalDetailsHead{
    /* position: relative; */
}



.navbarHead{
    /* border: 1px solid green; */
    width: 100%;
    position: fixed;
    z-index: 90;
    left: 0;
    top: 0;
    /* background: ; */
}
.logoStyle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    /* border: 1px solid red; */
}

.basicinfo{
    margin-top: 60px;
    /* border: 1px solid; */
    background-color: rgb(230, 227, 227);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.Additionalinfo{
    background-color: rgb(230, 227, 227);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    margin-top: 5px;
}


.elementContainer{
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    height: 60px;
    align-items: center;
    padding: 20px 5px;
}

.inputelement{
    border:transparent;    

}
.elementContainer2{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    height: 35px;
}



.radioElement{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.GovtIdRadioElement{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;

}
input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -4px;
    
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid rgb(247, 247, 247);
}

.genderStyle{
    display: flex;
    align-items: center;
}

.elementContainerAddress{
    /* border: 1px solid red; */
    min-height: 60px;
    border-bottom: 1px solid gray;
}

.elementContainerAddress label{
    color: gray;
}

.referenceHead{
    margin-top: 70px;
    /* border: 1px solid; */
    min-height: 400px;


}

.referenceHead .referenceContainer {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    
    width: 100%;
  
    margin:10px 0px;
    box-sizing: border-box;
    height: 90px;

}

.referenceHead .referenceContainer .referenceContainerinner{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* margin:10px 0px; */
    box-sizing: border-box;
    height: 70%;

}
.referenceHead .referenceContainer span{
    width: 100px;
    height: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* border: 1px solid; */
}


.referenceHead .referenceContainer  .inputelement input{
        border:none
}


.referenceHead .referenceContainer  .inputelement {
    border-bottom: 1px solid black;
}

.navbarHead .navbarinnerleft{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 65%;
}


.subHeaderInfo{
    /* border: 1px solid blue; */
    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgb(223, 221, 221);
   width: 100%;
    margin-top: 60px;
}


.subHeaderInfo2{
    /* border: 1px solid blue; */
    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgb(223, 221, 221);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   width: 100%;
    margin-top: 5px;
}


.permanentAddressStyle{
    position: relative;
}

 .toggleStyle{
     z-index: 500;
    position: absolute;
    top: 12px;
    right: 20px;
}


.DefaultModelStyle{
    z-index: 50;
    position: fixed;
    left: 0;
    /* border: 1px solid; */
    width: 100%;
    top: 0;
    
}


.DefaultModelStyle .bottmBtn{
    /* width: 100%; */
    background-color:#ff8215;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.DefaultModelStyle .bottmBtn button{
    border: 1px solid white;
    outline: none;
    width: 100px;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}


.DefaultModelStyle .LoanappliedbottmBtn{
    /* background-color:white; */
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;  
    /* border: 1px solid; */
    border-top: 1px solid #ea7713;
}
.DefaultModelStyle .LoanappliedbottmBtn button{
    border:none;
    outline: none;
    width: 100px;
    border-radius: 20px;
    color: black;
    background-color: transparent;
    cursor: pointer;
}