.labelText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    box-shadow: 1px 0 8px 0 rgba(87, 102, 117, 0.2);
    /* width: 100%; */
    /* background-color:#ddfded ; */
    
}
.labelText .innerLabelText{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.labelText .innerLabelText p{
    font-size: 18px;
    font-weight: 800;
}
.labelText .innerLabelText span{
    font-size: 12px;
    color: green;
    width: 70px;
    /* padding: 2px 10px; */
    box-sizing: border-box;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

}

.listData{
    min-height: 200px;
    /* margin-top: 5px; */
    background-color: rgb(252, 252, 252);
    width: 100%;
}
