.main{
    position: relative;
    font-family:Gilroy-SemiBold;

    /* border: 1px solid; */
    min-height: 100vh;
    margin: 80px 0px 120px 0px;
}
.bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
.footer{
 position: fixed;
 bottom: 0;
 left: 0;
    width: 100%;
}



.box1{
    /* border: 1px solid green; */
    height: 298px;
    box-sizing: border-box;
    box-shadow: 0 2px 8px 0 rgba(87, 102, 117, 0.1);
    background-color: #ffffff;
}


.box1 .innerBox1_box1{
   /* border: 1px solid red; */
   height: 70%;
   
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    
}


.box1 .innerBox1_box1 .innerBox1_box{
    /* border: 1px solid yellow; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

    text-align: center;
    font-size: 20px;
    font-weight: bolder;
  
    text-align: left;
    color: #403845;

 
}
.box1 .innerBox1_box1 .innerBox1_text{

    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */



}
.box1 .innerBox1_box1  .innerBox1_img{
  background-color: white;
}

.box1 .innerBox1_box1  .innerBox1_img img{
width: 100%;  
}
.box1 .innerBox1_box2{
    /* border: 1px solid yellow; */
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }


 .box1 .innerBox1_box2 button{
   outline: none;
   border: none;
   width: 154px;
   min-height: 42px;
   border-radius: 5px;
   color: white;
   letter-spacing: 1px;
   padding: 12px 16px;
    
   box-shadow: 0 2px 8px 0 rgba(87, 102, 117, 0.1);
  background-color: #f48120;

  font-size: 16px;
  font-weight: 600;
 }

 .box2{
    box-sizing: border-box;
    box-shadow: 0 2px 8px 0 rgba(87, 102, 117, 0.1);
    background-color: #ffffff;
    /* border: 1px solid red; */
    min-height: 500px;
 }

 .box2 .innerbox2_loanType{
     /* border: 1px solid green; */
     min-height: 250px;
     margin-top: 30px;

     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
 }

 .box2 .innerbox2_loanType .innerbox2_title{
    width: 100%;
    height: 30px;
    /* border: 1px solid red; */
    /* margin: 32px 6px 26px 3px; */
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 2.4; */
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
 }


 .box2 .innerbox2_loanType .innerbox2_loanTypeBox{
    
    /* border: 1px solid red; */
    min-height: 150px;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
 
   
 }

 .box2 .innerbox2_loanType .innerBox2_showAlltext{
     /* border: 1px solid red; */
     width: 100%;
     text-align: center;
     /* color: #3c61a7; */

     
     flex-grow: 0;
     font-size: 18px;
     font-weight: 600;
     font-stretch: normal;
     font-style: normal;
     letter-spacing: normal;
     color: #165ecc;
 }

 .box2 .innerbox2_profile_box{
     width: 100%;
     /* border: 1px solid green; */
    height: 290px;
   margin-top: 22px;
    /* padding: 23px 8px 9px; */
    box-shadow: 1px 0 8px 0 rgba(87, 102, 117, 0.2);
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 .box2 .innerbox2_profile_box .title{
    /* width: 312px; */
    /* height: 24px; */
    /* border: 1px solid red; */
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 1.5; */
    letter-spacing: normal;
    text-align: center;
    color: #ed5564;
 }
 .box2 .innerbox2_profile_box .productDetails {
     /* border: 1px solid yellow; */
     height: 80%;
 }
 .box2 .innerbox2_profile_box .productDetails .progressbar{
     /* border:1px solid blue; */
     border-radius: 10px;
     overflow: hidden;
    /* width: 177px;
    height: 4px;
    flex-grow: 0;
    margin: 4px 87px 0 0px;
    border-radius: 1px;
    box-shadow: 2px 1px 3px 0 rgba(22, 94, 204, 0.25);
    background-color: #f7a45f; */
 }

 .box2 .innerbox2_profile_box .productDetails .progressbarOuter .labelHead{
     display: flex;
     justify-content: space-between;
     width: 100%;

 }

 .box2 .innerbox2_profile_box .productDetails .details{
     margin-top: 10px;
     /* border: 1px solid black; */
     height:80%;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
 }

 .box2 .innerbox2_profile_box .productDetails .details .detailsInner, .box2 .innerbox2_profile_box .productDetails .details .detailsStatus{
     width: 50%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: flex-start;
 }


 .box2 .innerbox2_profile_box .productDetails .details .detailsInner a{
     color: black;
 }

 .box2 .innerbox2_profile_box .productDetails .details .detailsStatus{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;

 
  flex-grow: 0;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  color: #ed5564
 }

 .box2 .innerbox2_slq{
     width: 100%;
    height: 336px;
    margin-top: 24px ;
    margin-bottom: 20px;
    padding: 16px 1px 15px 0;
    /* opacity: 0.1; */
    border-radius: 4px;
    box-shadow: 1px 0 8px 0 rgba(87, 102, 117, 0.2);
    background-color: rgb(255, 240, 245);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }

 .box2 .innerbox2_slq .slqLogo img{
     width: 100px;
     /* background-color: black; */
 }

 
 .box2 .innerbox2_slq .slqtitle{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #393939;
 }

 .box2 .innerbox2_slq .slqMainlogo img{
    width: 150px;
    height: 150px;
    /* background-color: black; */
}



.box2 .innerbox2_slq .sqlText{
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #393939;
}



.DefaultModelStyle{
    position: fixed; 
    top: 0;
    left: 0;
    /* border: 1px solid green solid red; */
    z-index: 100;
    width: 100%;
 }
 .DefaultModelStyle .inputAmount{
     border: none;
     /* border-bottom: 1px solid green solid black; */
     outline: none;
     
     
 }
 
 .DefaultModelStyle .bottmBtn{
     /* width: 100%; */
     background-color: rgb(253, 87, 10);
     padding: 10px;
     border-radius: 0px 0px 10px 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     box-sizing: border-box;
 }
 .DefaultModelStyle .bottmBtn button{
     border: 1px solid  white;
     outline: none;
     width: 100px;
     border-radius: 20px;
     color: white;
     background-color: transparent;
     cursor: pointer;
 }


 .ProductsModel{
     position: fixed;
     box-sizing: border-box;
     width: 100%;
     top: 0;
     left: 0;
     z-index: 10;
     /* border: 1px solid red; */
 }

 .LoanAppliedSuccessModal{
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
 }