.main{
    min-height: 100vh;
    position: relative;
    margin-top: 80px;
    margin-bottom: 100px;
}

.main .bar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.main .Footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index:5;
}


.main .fromContent{
    /* border: 1px solid red; */
    /* height: 60%; */
    
    /* min-height: 600px; */
    /* height: 100vh; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.formInnerContent{
    /* border: 1px solid red; */
}



.main .title{
    /* border: 1px solid grey; */
}

.main .title span{
    width: 162px;
    
    height: 32px;
    margin: 32px 2px 6px 18px;
    font-family:Gilroy-SemiBold;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4d4d4d;
}

.main .title .line_36{
    margin: 0;
    padding: 0;
    height: 2px;
    background-color: #cccccc;
    margin: 6px 0 16px 16px;
    width: 172px;

}
