.main{
    min-height: 600px;
    margin: 80px 0px 100px 0px;
    position: relative;
}

.bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;

}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.main .container{
    /* border: 1px solid green; */
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main .title{
    /* border: 1px solid red; */
    width: 100%;


    /* height: 32px; */
    font-size: 20px;
    font-weight: 600;
    
    color: #4d4d4d;
}
.main .progressBar{
    /* border: 1px solid orange; */

    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .progressBar .progress1,.main .progressBar .progress2{
    /* border: 1px solid green; */
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.main .progressBar .progress1 .ActiveBar{

    /* border: 1px solid blue; */
    width: 100% !important;
    height: 6px;
    border-radius: 4px 0px 0px 4px;
    background-color:  #2f73da;
    color: #2f73da;

}

.main .progressBar .progress2 .ActiveBar{
    width: 100% !important;
    height: 6px;
    border-radius: 0px 4px 4px 0px;
    background-color:  #2f73da;
    color: #2f73da;
}


.main .progressBar .progress2 .inactiveBar{
    width: 100% !important;
    height: 6px;
    border-radius: 4px;
    border-radius: 0px 4px 4px 0px;
    background-color:  grey;
    /* color: #2f73da; */
}

.main .progressBar  .progress1 .inactiveBar{
    width: 100% !important;
    height: 6px;
    border-radius: 4px;
    border-radius: 4px 0px 0px 4px;
    background-color:  grey;
}


.main .progressBar   .activeText{
    font-size: 18px;
    font-weight: 600;
       color: #2f73da;
 
}
.main .progressBar .inactiveText{
    color: grey;
    font-size: 18px;
    font-weight: 600;

}

.main .innerContent{
    /* border: 1px solid red; */

    min-height: 450px;
}