
 

 
.educationRadioElement{
    /* border: 1px solid black; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media(max-width:320px){
    .educationRadioElement{
        width: 90%;
        
    }
}


.educationRadioElement label{
    /* border: 1px solid red; */
    width: 180px;
}


.logoStyle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 60%;
}



 .bottmBtn{
    /* width: 100%; */
    background-color:white;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
 .bottmBtn button{
    border: 1px solid #ea7713;
    outline: none;
    width: 120px;
    border-radius: 20px;
    color: white;
    background-color: #ea7713;
    cursor: pointer;
    padding: 5px;
}


.DefaultModelStyle{
    font-family:Gilroy-SemiBold;
}
.DefaultModelStyle .bottmBtn{
    /* width: 100%; */
    background-color: rgb(253, 87, 10);
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.DefaultModelStyle .bottmBtn button{
    border: 1px solid white;
    outline: none;
    width: 100px;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}


.DefaultModelStyle .LoanappliedbottmBtn{
    /* background-color:white; */
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;  
    /* border: 1px solid; */
    border-top: 1px solid #ea7713;
}
.DefaultModelStyle .LoanappliedbottmBtn button{
    border:none;
    outline: none;
    width: 100px;
    border-radius: 20px;
    color: black;
    background-color: transparent;
    cursor: pointer;
}