.ProofInput{
    /* border: 1px solid red; */
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; */
}

.profileHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}
.cameraHead{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 400px;
}

.proofInner{
    border-bottom:1px solid #b5b5b5;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color:#7e7d7d ;
}
.proofInnerLastele{
    /* border-bottom:1px solid black; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.proofInner label,.proofInnerLastele label{
    font-size: 18px;
    font-weight:500;
}

.arrowStyle{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;

}

.finiancialInfoStyle{
    position: relative;
}

.subHeaderBar{
    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgb(216, 211, 211);
    position:relative;
    width: 100%;
    left: 0;
    font-weight: 500;
    font-size: 15px;
}


@media(max-width:320px){
    .proofInner label,.proofInnerLastele label{
        font-size: 16px;
    }

    .proofInner,.proofInnerLastele{
       
        height: 55px;
    }
}

.navbarinnerleft{
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
/* border: 1px solid black;  */
}

.toggleStyle{
    /* border: 1px solid red; */
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textStyle{
    /* border: 1px solid red; */
    /* height: 100%; */
    width: 80%;
    font-size: 15px;
    color:#7e7d7d ;


}