.containerHeadStyle{
    height: 100vh;
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: 1px solid black; */
   

}

.containerStyle{
    background-color: transparent;
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */

    z-index:20;
  
    display: flex;
    justify-content: center;
    align-items: center;

   
}
.containerinnerStyle{
    box-shadow: 0px 0px 10px 1px black;
    /* border: 1px solid red; */

    background-color: white;
    width: 50%;
    min-height: 220px;
    border-radius: 10px;
    padding: 10px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    box-sizing: border-box;
}

.BackdropManupulateStyle{
    /* border: 1px solid green; */
    width: 100%;
    z-index: 5;
    position: fixed;
    top: 0;
    
}

.closeModelstyle{
        position: absolute;
        z-index: 5;
        top:10px;
        left: 85%;
outline: none;
        width: 30px;
        border: 1px solid red;
        border-radius: 50%;
        height: 30px;
        background-color: white;

        display: flex;
        justify-content: center;
        align-items: center;
}

@media(max-width:45rem){
    .containerinnerStyle{
        width: 100%;
    }
}


@media(max-width:45rem){
    .containerStyle{
        width: 100%;
    }
}