.main{
    /* border: 1px solid red; */
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main span{
    border: 2px solid transparent;
    width: 40px;
    border-radius: 20px;
}

.successLable{
    /* background-color: #2f73da; */
    /* #4d4d4d; */
    background-color: #2f73da;

}
.disableLable{
    background-color: grey;
}