
.containerHeadStyle{
    height: 100vh;
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    border: 1px solid red;
}

.containerStyle{
    background-color: white;
    
    height: 100vh;
    width: 420px;
    
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px black;
    z-index:20;
    position: fixed;
    top: 0;
   
}
.containerinnerStyle{
    background-color: white;
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    padding: 10px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.BackdropManupulateStyle{
    /* border: 1px solid green; */
    width: 100%;
    z-index: 5;
    position: fixed;
    top: 0;
    
}

.closeModelstyle{
        position: absolute;
        z-index: 5;
        top:10px;
        left: 85%;
outline: none;
        width: 30px;
        border: 1px solid red;
        border-radius: 50%;
        height: 30px;
        background-color: white;

        display: flex;
        justify-content: center;
        align-items: center;
}

.searchHead{
    /* border: 1px solid red; */
    height: 50px;
    background-color: rgb(255, 185, 55);
    position: fixed;
    top:0
}

.searchresult{
    margin-top: 60px;
    /* border: 1px solid; */
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;

}

@media(max-width:45rem){
    .containerStyle{
        width: 100%;
    }
}