.Navhead{
    /* background-color: rgb(255, 146, 21); */
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-size: large;
    /* lONG SCREEN SIZE */
}
.Navhead a{
    color: black;
}
.Navhead a.active{
   color: orange !important; 
   /* font-weight: bold; */
   /* border: 1px solid red; */
}

.Navhead span{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:45rem){
    .Navhead{
        font-size: 11px;

        /* MOBILE SCREEN */
    }
}
.auth{
    border: 1px solid;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 20%;
}