




.mainStyle1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    /* background-color: rgb(177, 177, 177); */
    /* background-image: url('../../#cashe/icon_loginbg.png');
    background-size: cover;
    background-repeat: no-repeat; */

    position: relative;
    font-family:Gilroy-SemiBold  !important;


    /* border: 1px solid red; */
}



.mainStyle2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    /* background-color: rgb(177, 177, 177); */
   
    /* border: 1px solid red; */
}









.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
     /* margin-top: 10px; */
    z-index: 5;
    /* background-color: rgb(165, 163, 163); */
       /* border: 1px solid red; */

}
@media(max-width:320px){
    .header{
      margin-top: 5px;
    }
    .loginbuttons .facebook span,.loginbuttons .google span{
        width:70% !important;
        font-family:Gilroy-SemiBold  !important;

        /* border: 1px solid red; */
        /* font-size: 10px; */
    }
}



.textheader{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 250px;
}

.textheader .para{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin: 0;
    width: 100%;

    /* border: 1px solid red; */
}


.textheader .logoStyle{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 100px;
    /* align-items: center; */
}


.textheader .logoStyle img {
    width: 100%;



}
.loginStyle{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 180px;
    z-index: 5;

}


.loginStyle .loginbuttons{

     width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.loginbuttons button{
    border:none;
    outline: none;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    /* color: white; */
    box-shadow: 0 3px 10px 0 rgba(87, 102, 117, 0.06), 0 6px 12px 0 rgba(87, 102, 117, 0.14);
}



.loginStyle .radiobuttonStyle{
    width: 80%;
    /* border: 1px solid green; */
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.loginbuttons .google{
    /* background-color:#fa4023; */
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.loginbuttons .facebook{

    /* background-color: #2f53ae; */
    background-color: white;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.loginbuttons .facebook span,.loginbuttons .google span{
    /* border: 1px solid red; */
    width: 60%;
    text-align: start;

}

.backdrop{
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
}

.Spinner{
    /* border: 1px solid red; */
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    left: 0;
    height: 100%;
     

}

.Logo{
    /* border: 1px solid red; */
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.Logo img{
    width: 80%;
}
.Logo span{
    color: grey;
}

.LoginAssest{
    width: 100%;
    overflow: hidden;
}
.LoginAssest img{
    width: 100%;
}