.main{
    min-height: 100vh;
    position: relative;
    margin:80px 0px 100px 0px;
    /* border: 1px solid red; */
}


.main .bar{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5
}


.main .container{
    min-height: 600px;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



.container .details{
    height: 450px;
    /* border: 1px solid pink; */
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.container .details div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;

 
}

.container .loanDescriptiontext{
    font-size: 16px;
  font-weight: 600;
  color: #2f73da;
  text-align: center;

}

.container .title{
    font-size: 20px;
  font-weight: 600;
  color: #4d4d4d;
 width: 100%;
 display: flex;
 justify-content: flex-start;
 align-items: center;

}
.container .details .loanDetailsInAmount{
    font-size: 16px;
    font-weight: 600;
}

.main .footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 5

}