.main{
    /* border: 2px solid green; */
    width: 100%;
    box-sizing: border-box;
}


.DefaultInputStyle{
    position: relative;
    /* border:1px solid green; */
    width: 100%;
    margin:0px 0px;
box-sizing: border-box;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.DefaultInputStyle .bankIfsc{
    /* position: absolute; */
    /* border: 1px solid red; */
    border-radius: 10px;
    font-size: 10px;
    font-weight: 600;
    width: 100px;
    background-color: #eaf1fb;
    color: #2f73da;
    min-height: 25px ;

    /* right: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin-right: 25px;
    box-sizing: border-box;
}

@media(min-width:320px){
    .DefaultInputStyle .bankIfsc{
        min-height: 25px;
        width: 60%;
        padding: 0px 5px;
    
    }

}
.verifyBtn{
    border: 1px solid #ea7713;
    background-color: white;
    font-size: small;
    padding: 5px;
    width: 80px;
    border-radius: 5px;
    color: #ea7713;
    font-weight: bold;
    letter-spacing: 0.5px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.defaultVerifyButton{
    position:absolute;
    top: 10%;
    right: 10px;

    box-sizing: border-box;

}


.defaultVerifyButton button{
   box-sizing: border-box;
   outline: none;
   border: 2px solid #ea7713;
   background-color: transparent;
   padding: 2px 10px;
   border-radius: 5px;
   color: #ea7713;
   font-size: 15px;
   width: 100px;
   box-shadow: 0px 1px 4px 0px black;


}



/*  */
.DefaultMainStyle{
   
    position: relative;
    box-sizing: border-box;
    
}
.OTPverficationPageStyle{
    /* border: 1px solid black; */
    box-sizing: border-box;
    box-shadow: 0px 0px 7px 1px orange;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 50%;
    border-radius: 5px;
    height: 250px;
    z-index: 50;
}

.backdrop{
    position: fixed;
    top:180px;
    box-sizing: border-box;
    /* left: 0; */
    /* border: 1px solid red; */
    width: 100%;
    z-index: 150;
}

.spinnerbackdrop{
    position: fixed;
    z-index: 40;
    width: 100%;
}
.NavbarHead .navbarinnerleft{
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
/* border: 1px solid black;  */
}

.NavbarHead{
    z-index: 10;

    /* border: 1px solid black; */
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: rgb(255, 146, 21); */

}


.NavbarHead span button{
    border:  none;
    outline: none !important;
    background: transparent;
    color: white;

}
.headerNavStyle span{
    font-weight:500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.subHeaderInfo{
    /* border: 1px solid blue; */
    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgb(223, 221, 221);
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
   font-size: 15px;
   font-weight: 500;
    margin-top: 60px;
}
.subHeaderPersonalInfo{
    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgb(248, 245, 245);
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
   
}
.welcomeform{
    box-sizing: border-box;
    padding-bottom: 10px;
    margin-top: 0px;
    background-color: white;
    width: 100%;
    
    /* min-height: 100vh; */
}

.formHead{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}
.employmentForm{
    box-sizing: border-box;
    padding-bottom: 10px;
    margin-top: 70px;
    background-color: white;
    width: 100%;
    min-height: 100vh;
}
.bankForm{
    box-sizing: border-box;
    padding-bottom: 10px;
    margin-top: 70px;
    background-color: white;
    width: 100%;
    min-height: 100vh;
}

.inputelement{
    border:transparent;
    /* border-bottom: 1px solid black; */
    

}
input:focus{
    outline: none !important;
}
.elementContainer2{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    height: 100%;
}
.elementContainer{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 60px;
    align-items: center;
    padding: 20px 5px;
}
.genderStyle{
    display: flex;
    align-items: center;
}
.lableName{
    color: gray;
}


/* input[type='radio']:after{
    background-color: gray;
}

input[type='radio']:checked:after{
    background-color: orangered;

} */

.backdrop{
    position: fixed;
    z-index: 40;
}
.Spinner{
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 50;

}

.radioElement{
    /* border: 1px solid red; */
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.educationRadioElement{
    /* border: 1px solid black; */
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.privacyagreeRadioElement{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* border: 1px solid red; */
    margin: 25px 0px;

}

.privacyagreeRadioElement label{
    /* border: 1px solid red; */
    width: 85%;
}

.privacyAgreeElement{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.privacyAgreeElement label{
    width: 85%;
}

.educationRadioElement label{
    /* border: 1px solid red; */
    width: 180px;
}

.DefaultModelStyle{
    z-index: 50;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    
}


.DefaultModelStyle .bottmBtn{
    /* width: 100%; */
    background-color: rgb(253, 87, 10);
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.DefaultModelStyle .bottmBtn button{
    border: 1px solid white;
    outline: none;
    width: 100px;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}


.DefaultModelStyle .LoanappliedbottmBtn{
    /* background-color:white; */
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;  
    /* border: 1px solid; */
    border-top: 1px solid #ea7713;
}
.DefaultModelStyle .LoanappliedbottmBtn button{
    border:none;
    outline: none;
    width: 100px;
    border-radius: 20px;
    color: black;
    background-color: transparent;
    cursor: pointer;
}
.personalInfobar{
    /* border: 1px solid; */

    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgb(223, 221, 221);
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    /* position: absolute;
    left: 0; */
}
@media(max-width:45rem){
    .OTPverficationPageStyle{
        width: 80%;
        height: 180px;
    }
    .welcomeform{
        width: 100%;
    }
}

@media(max-width:45rem){
    .educationRadioElement label{
        width: 180px;
    }
    .privacyagreeRadioElement label{
        /* width: 200px; */
    }
}


.ProofInput{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.proofInner{
    border-bottom:1px solid #b5b5b5;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.proofInnerLastele{
    /* border-bottom:1px solid black; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.proofInner label,.proofInnerLastele label{
    font-size: 18px;
    font-weight:500;
}

.arrowStyle{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;

}

.finiancialInfoStyle{
    position: relative;
}

.subHeaderBar{
    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgb(216, 211, 211);
    position:relative;
    width: 100%;
    left: 0;
    font-weight: 500;
    font-size: 15px;
}

.docUploadMain{
    height: 100%;
    width: 100%;
}

.docUploadMain .panCard{
    height: 120px;
    margin: 24px 0px 16px 0px;
    /* padding: 16px 58px 11px 8px; */
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(87, 102, 117, 0.1);
    /* border: solid 1px #6fa1ec; */
    background-color: #ffffff;
}

.docUploadMain .idProof{
    /* width: 328px; */
    height: 360px;
    margin: 24px 0px 16px 0px;
    /* padding: 16px 58px 26px 8px; */
    box-shadow: 0 2px 8px 0 rgba(87, 102, 117, 0.1);
    /* background-color: #eaf1fb; */
    /* border: solid 1px #6fa1ec; */

    background-color: #ffffff;


}

.docUploadMain .idProof,.panCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    /* border: solid 1px #6fa1ec; */
    /* border: solid 1px #b0cbf2; */

    border-radius: 5px;
    

}

.docUploadMain .bankStatement{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    min-height: 120px;
    margin: 24px 0px 16px 0px;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(87, 102, 117, 0.1);
    /* border: solid 1px #b0cbf2; */


    background-color: #ffffff;
}

.docUploadMain .profilePic{
    /* border: 1px solid yellow; */
    height: 120px;
    margin: 24px 0px 16px 0px;
    /* padding: 16px 18px 19px 8px; */
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(87, 102, 117, 0.1);
    border: solid 1px #eaf1fb;
    background-color: #ffffff;
        /* border: 1px solid yellow; */
        /* border: solid 1px #b0cbf2; */

        display: flex;
        justify-content: space-between;


    /* background-color: red; */
}

.docUploadMain .profilePic .profilePicInnerHead{
    /* border: 1px solid blue; */
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.docUploadMain .profilePic .profilePicInnerHead .profileButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.docUploadMain .profilePic .profilePicInnerHead .profileButton button{
    outline: none;
    border: none;
    width: 45%;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 4px;
    /* margin: 29px 72px 16px 8px; */
    padding: 4px 8px;
    border-radius: 12px;
    background-color: #eaf1fb;
    font-size: 12px;

}

.docUploadMain .profilePic .avatarHead{
    /* border: 1px solid green; */
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


.docUploadMain .profilePic .avatarHead .avatarImg{
    /* border: 1px solid grey; */
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* padding: 5px; */


}
.docUploadMain .profilePic .avatarHead .avatarImg img{
   
  width: 100%;
  /* border: 1px solid red; */
transform: scale(1.4);
}


.docUploadMain .profilePic .avatarHead  .avatarName{
    /* border: 1px solid black; */
    width: 100%;
    height: 30%;
}
.docUploadMain  .uploadButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.docUploadMain  .uploadButtons .ButtonHead{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    min-height: 80px;
    /* border: 1px solid ; */
}

.docUploadMain  .uploadButtons .ButtonHead button{
  
    outline: none;
    border: none;
    width: 90%;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
    padding: 4px 8px;
    border-radius: 12px;
    background-color: #eaf1fb;
    font-size: 12px;


}


.ButtonHead .deleIcon{
    background-color: black;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: white;

}

.docUploadMain .ButtonHead .docNameText{
    /* color: red; */
    
    margin-left: 10px;
}
.docUploadMain  .uploadButtons .ButtonHead .docName{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red; */
    width: 90%;
    min-height: 30px;
    box-sizing: border-box;
}

.docUploadMain  .bankStatement .ButtonHead .docName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    min-width:20%;
    min-height: 30px;
    margin:5px 0px 0px 5px;
  
}
.docUploadMain .title{
    font-size: 18px;
  font-weight: 600;
}

.docUploadMain .bankStatement .ButtonHead{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    min-height: 80px;
    /* border: 1px solid red; */
}


.docUploadMain  .bankStatement .ButtonHead button {
  
    outline: none;
    border: none;
    width: 50%;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    border-radius: 12px;
    background-color: #eaf1fb;
    font-size: 12px;


}
@media(max-width:320px){
    .proofInner label,.proofInnerLastele label{
        font-size: 16px;
    }

    .proofInner,.proofInnerLastele{
       
        height: 55px;
    }
}




.bankStatement .bankStatement_toggleContainer{
    /* border: 1px solid grey; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}

p{
    margin: 0;
}

.bankStatement .bankStatement_toggleContainer .bankStatement_toggleText{

    font-size: 14px;

    font-family:Gilroy-SemiBold;
    width: 75%;
    /* border: 1px solid red; */
    height: 100%;
    color: grey;
    letter-spacing: 1px;

}


.bankStatement .bankStatement_toggleContainer .bankStatement_toggleBtn{
    /* border: 1px solid red; */
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonHead .ButtonContainer{
    /* border: 1px solid red; */
    height: 50px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ButtonHead .ButtonContainer .pdfLogo{
    width: 40%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}