.cam{
    /* border: 1px solid green; */
    border-radius: 50%;
    height: 300px;
    /* width: 200px; */
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camHead{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 400px;

}

.avatar{
    border-radius: 10px;
    width: 50px;
}

.editicon{
    /* background-color: #e9e9e9; */
    filter: sepia(50%) grayscale(100%) invert(80%)
}