@font-face{
    font-family:Gilroy-SemiBold;
    src:url(./UI_Element2/fonts/Gilroy-SemiBold.ttf);
    
}


@font-face{
  
    font-family: PoiretOne;
    src: url(./UI_Element2//fonts//PoiretOne-Regular.ttf);
}


.websiteStyle_1 {
    display: flex;
justify-content: center;
align-items: center;
    height: 100vh;
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */
}
.MobileView{
    font-family:Gilroy-SemiBold  !important;

}