.container{
    background-color: white;
    min-height: 100vh;
    border: 1px solid white;
}


.container .bar{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 5;
    top: 0%;
}
.containerInner{
    background-color: white;
    height: 76%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}

.fromhead{
    /* border: 1px solid red; */
    width: 90%;
}

.inputform{
    display: flex;
    border: 1px solid rgb(187, 186, 186);
    height: 50px;
    /* border: 1px solid red; */

}

.inputform .inputInner{
    width: 100%;
    height: 100%;
}

.inputform .editBtn{
    outline: none;
    border: transparent;
    background-color: #ea7713;
    color: white;
    width: 40px;
    border: 1px solid rgb(187, 186, 186);
}
.inputform .enableOkBtn{

    outline: none;
    border: transparent;
    background-color: #ea7713;
    color: white;
    width: 40px;
    cursor: pointer;
    border: 1px solid rgb(187, 186, 186);
}


.inputform .disableOkBtn{
    outline: none;
    border: transparent;
    background-color: gray;
    color: white;
    width: 40px;
    cursor: not-allowed;
    
}
.DefaultModelStyle{
   position: fixed; 
   z-index: 10;
}

.DefaultModelStyle .bottmBtn{
    /* width: 100%; */
    background-color: rgb(253, 87, 10);
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.DefaultModelStyle .bottmBtn button{
    border: 1px solid white;
    outline: none;
    width: 100px;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}
.backdrop{
    position: fixed;
    z-index: 40;
    width: 100%;
}

.Spinner{
    /* border: 1px solid red; */
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    left: 0;
    height: 100%;
     

}

.NavbarHead{
    /* border: 1px solid black; */
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: rgb(255, 146, 21); */

}

.imageBody{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 120px; */
}
.imageBody img{
    width: 120px;
}
/* @media(max-width:45rem){
    .fromhead{
        width: 100%;
    }
} */

.textFiled{
    /* border: 1px solid red; */
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 70px;
}

.enterOptText{
    /* border: 1px solid; */
    width: 100%;
    text-align: center;
}

.title {
 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-top: 100px; */
    /* border:1px solid red; */
    height: 80px;
    width: 100%;

}

.title h1{
    border-bottom: 2px solid grey;
    padding: 0px 10px 5px 10px;
    box-sizing: border-box;
    font-size: 32px;
    color: #4d4d4d;
}
