.privacyPageMainStyle{
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btnStyle{
background-color: green;
border: 1px solid red;
}
.navproceedBtnHead{
   
box-sizing: border-box;
margin-top: 15px;
}
.navproceedBtn{
    /* border: 1px solid red; */
    box-sizing: border-box;

}

 .privacyPageMainStyle .bar{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 5;
    top: 0%;
}

.navproceedBtnHead  .enableBtnStyle{
    /* width: 200px; */
    padding: 5px;
    border-radius: 50px;
    background-color: white;
    outline: none;
    cursor: pointer;
    border: 1px solid orangered;
    outline: none;
    color: white;
    background-color: #ea7713;
}

.navproceedBtnHead  .disableBtnStyle{
    /* width: 200px; */
    padding: 5px;
    border-radius: 50px;
    background-color: rgb(218, 213, 213);
    outline: none;
   cursor:not-allowed;
   color: black;
   border: 1px solid gray;
   cursor: not-allowed;
}


.jumbotron{
    background-color: white !important;
}
.footer{
    width: 100%;
    z-index: 5;
    position: fixed;
    bottom: 0;
left: 0;

}