.Footer{
  
    box-shadow: 0px -2px 10px 0px rgba(87, 102, 117, 0.1);
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 88px;
    box-sizing: border-box;
    background-color: white;

}



.Footer button{
    width: 164px;
    background-color: #3c61a7;   
    height: 46px;
    outline: none;
    border:none;
    box-sizing: border-box;
    color: white;
    border-radius: 5px;
    font-size: 16px;
       /* font-family:Gilroy-SemiBold; */
       letter-spacing: 1px;
       cursor: pointer;
    
}
.Footer button:disabled{
    background-color: grey !important;
    cursor:not-allowed;
}

.ProfileFooter{
    box-shadow: 0px -2px 10px 0px rgba(87, 102, 117, 0.1);
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 88px;
    box-sizing: border-box;
    background-color: white;



}

.ProfileFooter .Profileicon,.Walleticon,.Discounticon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
.ProfileFooter a.active{
    color: #f48120  !important;
}

.ProfileFooter a.active img{
    /* border: 1px solid; */

    /* background-color: orange; */
    /* filter:hue-rotate(30%) ; */
    /* filter: saturate(var(4, 5)) */

    /* blur()
brightness()
contrast()
drop-shadow()
grayscale()
hue-rotate()
invert()
opacity()
saturate()
sepia() */
}