.inputStyle{
    /* border: 1px solid red; */
    width: 100%;
    margin: 12px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.inputStyle label{
    /* border: 1px solid red; */
    display: flex;
}
.errorStyle{
    color: red;
    font-size: 13px;
}

.errorradioBtn{
    border-bottom: 1px solid red;
    display: flex;
    flex-direction: row !important;
    width: 100%;

}
.radioBtn{
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row !important;
    width: 100%;

}
.innerradioBtn {
    /* border: 1px solid firebrick; */
    width: 100%;
    display: flex ;
    flex-direction: row !important;

}
.innerradioBtn span{
    font-size: 15px !important;
    /* border: 1px solid red; */
}

.privacyagreeRadioElement{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    margin: 25px 0px;

}

.privacyagreeRadioElement label{
    /* border: 1px solid red; */
    width: 85%;
}


input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -4px;
    
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid orange;
}

input{
font-weight: bold;
cursor: pointer;
}